/* Global */

* {
  margin: 0;
  padding: 0;
}


body {
  /* font-family: "DejaVu Sans", sans-serif; */
  /* font-family: "FreeSans", sans-serif; */
  /* font-family: "Liberation Sans", sans-serif; */
  /* font-family: "Nimbus Sans", sans-serif; */
  /* font-family: "Noto Sans", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Ubuntu", sans-serif;

  /* background-color: rgba(200,60,60); */
  background-color: rgba(80,80,80);

  /* para que agarre todo el viewport */
  height: 100vh;
}

/* <div id="sidebar-column"> */
/* definir posicion, espacio */
#sidebar-column {
  width: 300px;
  height: 100%;
  /* deja padding a children */
  padding: 0 20px;
  /* regla para medir 100% de vertical height viewport */
  /* padding-top: calc((100vh - 0px) / 1) */
  padding-top: calc((100vh - 342px) / 2)
}

/* <div id="sidebar-wrapper"> */
/* bg-color */
#sidebar-wrapper {
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

/* <div id="personal-profile"> */
#personal-profile {
}

/* <div id="profile-pic"> */
#profile-pic {
  width: 100px; 
  height: 100px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden; /* Hide overflow to maintain the circular shape */
}

/* <img id="profile-img" src="rails_sq.png"> */
#profile-img {
  width: 100%; /* Make the image fill the circular container */
  height: 100%; /* Make the image fill the circular container */
  object-fit: cover; /* Maintain the aspect ratio */
  transform: scale(0.95); /* Adjust the scale factor for the zoom-out effect */
}

/*
  <div id="personal-name"><strong>Fer Candia</strong></div>
  <div id="career-title"><p>Ruby on Rails Developer</p></div>
*/
#personal-name,
#career-title {
  text-align: center;
  margin-top: 7px;
}

/* <nav id="list-wrapper"> */
/* <ul id="nav-links"> */
/* <li class="link"><a href="#home" onclick="showSection('home')">Home</a></li> */
#nav-links li {
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50px; */
  margin-top: 20px;
}

.link a {
  color: rgba(200,60,60);
  text-decoration: none;
  /* height: 50px; */
}