
@media only screen and (min-width: 320px) and (max-width: 425px) {
  body {
    background-color: rgba(120,120,120);
  }

  #top {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #sidebar-column {
    /* def */
    /* min-width: 300px; */
    /* padding-left: 20px; */
    /* padding-top: calc((100vh - 342px) / 2) */
    padding: 20px;
  }

  #sidebar-wrapper {
    /* def */
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;

    align-items: center;
  }

  #profile-pic {
    /* def */
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
  }

  #profile-img {
    /* def */
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(0.95);
  }

  #personal-name,
  #career-title {
    /* def */
    text-align: center;
    margin-top: 7px;
  }

  #nav-links li {
    /* def */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .link a {
    /* def */
    color: rgba(200,60,60);
    text-decoration: none;
  }

  /* Main Right column */
  /* <main id="content-column"> */
  #content-column {
    /* def */
    /* width: 100%; */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #main-wrapper {
    /* def */
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    flex-grow: 1;
  }

  /* abajo el cierre */
}