---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Contact | Fer Candia">
  <section>
    <h1>Contact</h1>
    <p>Send an email at sombondrolo@gmail.com</p>
    <p>Or send a WhatsApp message to (549) 2392 582134</p>
  </section>
</Layout>
