---
import Layout from '@/layouts/Layout.astro'
---
<style is:global>
/* Media queries with tag.class override (to not use !important) 1° */
@media (max-width: 449px) {
	div.profile-pic-container {
		width: 150px;
    margin-inline: auto;
    display: flex;
	}

	img.profile-pic {
		width: 100%;
	}

	div.profiles-row {
		font-size: unset;
		margin-block: 30px;
	}

	h4.row-name {
		margin-bottom: 7px;
	}

	div.li-gh-icons-row, div.pdf-docx-icons-row {
		a {
			display: inline-flex;
		}
		img.icon {
			height: 50px;
		}
	}
}

@media (min-width: 450px) and (max-width: 1199px) {}

@media (min-width: 1200px) {
	.profile-and-description-col {
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 20px;
		padding: 20px;
	}
	.profile-col {
		width: 150px;
	}
	.profile-pic-container {
		height: 150px;
		img {
			width: 100%;
		}
	}
	.row-name {
		font-size: small;
	}
	.li-gh-icons-row, .pdf-docx-icons-row {
		width: 150px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;

		a {
			display: flex;
			height: 30px;
			width: 30px;
			img {
				width: 100%;
			}
		}
	}
	/*
	.description-col {
		font-size: small;
		margin-bottom: auto;
		margin-inline: auto;
		font-weight: bold;

		p {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	*/
}

/* Shared between viewports */
.profiles-row {
	margin-block: 15px;
}

.row-name {
	text-align: center;
	text-decoration: underline;
}

.li-gh-icons-row, .pdf-docx-icons-row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.profile-pic, .icon {
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.description-col {
	margin-top: 30px;
}

.description-col {
	font-size: small;
	margin-bottom: auto;
	margin-inline: auto;
	font-weight: bold;

	p {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
</style>

<Layout title="Fer Candia | Ruby on Rails developer">
	<section>
		<h1>🙋‍♂️ About me</h1>

		<div class="profile-and-description-col">
			<div class="profile-col">
				<div class="profile-pic-container">
					<img class="profile-pic" src="/sol-picardia-arg-rounded.webp" title="hehe xD" alt="Alt">
				</div>

				<div class="profiles-row">
					<h4 class="row-name">Profiles Links</h4>
					<div class="li-gh-icons-row">
						<a href="https://www.linkedin.com/in/fer-candia-17804119a/" target="_blank">
							<img class="icon" src="/assets/linkedin.svg" title="Go to my LinkedIn profile" alt="LinkedIn icon">
						</a>
						<a href="https://github.com/sombondrolo" target="_blank">
							<img class="icon" src="/assets/github.svg" title="Go to my Github profile" alt="Github icon">
						</a>
					</div>
				</div>

				<div class="downloads-row">
					<h4 class="row-name">My Resume, CV links</h4>
					<div class="pdf-docx-icons-row">
						<a href="/downloads/202501-fer-candia-resume.pdf" download="202501-fer-candia-resume.pdf">
							<img class="icon" src="/assets/pdf.svg" title="Download my resume in PDF file" alt="PDF">
						</a>
						<a href="/downloads/202501-fer-candia-resume.docx" download="202501-fer-candia-resume.docx">
							<img class="icon" src="/assets/docx.svg" title="Download my resume in Word document" alt="Word Document">
						</a>
					</div>
				</div>
			</div>

			<div class="description-col">
				<p>
					I'm Fer, a Full-Stack web developer from 🇦🇷 Argentina.
				</p>
				<p>
					I can do back-end development with Ruby on Rails (SSR monoliths, JSON APIs),
				</p>
				<p>
					client-side front-ends with several JS frameworks like React (I like Preact more), (Angular in TODO list), Vue (Also Svelte is nice),
				</p>
				<p>
					and static sites with Astro (Better than NextJS, Jekyll, Hugo, 11ty).
				</p>
				<p>
					Also i can do basic sys-admin tasks (in Linux based distros like Ubuntu, Debian, Alpine Linux),
				</p>
				<p>
					manage relational DBs (PostgreSQL, SQLite3, MariaDB, MySQL),
				</p>
				<p>
					and give VM/servers maintenance.
				</p>
			</div>
		</div>

		<h4 style="margin-top: 30px; text-align: center;">✉️ Contactame</h4>

		{/*
		<h4>Enviar Wsp</h4>
		*/}
	</section>
</Layout>
