---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Fer Candia | Ruby on Rails developer">
	<section>
		<h1>About me</h1>
		<p>I'm Fer, a Ruby on Rails developer.</p>
	</section>
</Layout>

<style>
</style>
