---
const notes = [
  "Lang switch?",
  "bg?",
  "Agregar /viewport al footer",
]

---
<div class="notes-container">
  { notes.map(note => 
    <p class="notes-text">{note}</p>
  )}
</div>

<style>
.notes-container {
  margin-bottom: 20px;
}
p.notes-text {
  color: red;
  font-size: x-small;
  text-align: end;
}
</style>