---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Projects | Fer Candia">
  <section>
    <h1>Projects</h1>
    <p>Here are my personal projects:</p>
    <ul>
      <li>World Stats</li>
      <li>Real Estate Platform</li>
      <li>Ecommerce</li>
    </ul>
  </section>
</Layout>
