---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Skills | Fer Candia">
  <section>
    <h1>Skills</h1>
    <p>Here are some of my key skills:</p>
    <ul>
      <li>Ruby on Rails</li>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>React</li>
      <li>Preact</li>
      <li>Svelte</li>
      <li>Astro</li>
    </ul>
  </section>
</Layout>
