---
import Layout from '@/layouts/Layout.astro'
---

<script>
  import showDeviceViewport from '@/helpers/showDeviceViewport'

  if (typeof window !== 'undefined') {
    // Attach the event listener and initialize
    window.addEventListener('resize', showDeviceViewport)
    showDeviceViewport()
  }
</script>

<Layout title="Show Device Dimensions">
  <section>
    <h1 id="innerDimensions"></h1>
    <p>Inner</p>
    <h1 id="outerDimensions"></h1>
    <p>Outer</p>
    <p>The outer should be 1333x793 to simulate Notebook 13"</p>    
  </section>
</Layout>
