---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Work | Fer Candia">
  <section>
    <h1>Work</h1>
    <p>Here are my work experience:</p>
    <ul>
      <li>Green Interactivo</li>
      <li>Yoes</li>
    </ul>
  </section>
</Layout>
