---
interface Navlink {
  href: string
  title: string
}

const { href, title } = Astro.props
---
<style>
.nav-link-text {
  color: white;
  text-shadow: 1.1px 1.1px gray;
  padding: 6px;
  border-radius: 10px;
  /* font-size: x-small; */
}

</style>

<a class="nav-link-text" href={href}>
  {title}
</a>
