---
import { ViewTransitions } from 'astro:transitions'
import Navbar from '@/components/Navbar.astro'
import Notes from '@/pages/notes.astro'
import Footer from '@/components/Footer.astro'

interface Props {
	title: string
}
const { title } = Astro.props

const isDev = import.meta.env.MODE === 'development'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<meta name="description" content="Astro description" />
		<meta name="generator" content={Astro.generator} />

		<ViewTransitions />
	</head>

	<body>
		<Navbar />
		{ isDev && (
			<Notes />
		) }

		<main>
			<slot />
		</main>

		<Footer />
	</body>
</html>

<style is:global>
/* Astro boiler */
:root {
	/* Astro boiler CSS vars */
	--accent: 136, 58, 234;
	--accent-light: 224, 204, 250;
	--accent-dark: 49, 10, 101;
	--accent-gradient: linear-gradient(
		45deg,
		rgb(var(--accent)),
		rgb(var(--accent-light)) 30%,
		white 60%
	);
	/* My CSS vars */
	--hover-bg-color: rgba(68, 150, 213, 0.7);
}
html {
	font-family: "Ubuntu", system-ui, sans-serif;
	/* background: #13151a; */
	/* background-size: 224px; */

	/* from Vite boiler */
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
	font-family:
		Menlo,
		Monaco,
		Lucida Console,
		Liberation Mono,
		DejaVu Sans Mono,
		Bitstream Vera Sans Mono,
		Courier New,
		monospace;
}

/* User Agent resets */
body, p, h1, h2, h4, h5, ul {
  margin: 0;
	padding: 0;
}

li {
  list-style-type: none;
}

a {
	text-decoration: none;
}

/* Global defaults for HTML Tags */
body {
	min-height: 100vh;
	/* BG */
	background-image: url('/horizon-railway-bg-2560x1440.webp');
	background-size: cover;
	background-position: center;
}
section {
	margin: 40px;
  padding: 20px;
	background-color: rgba(180,180,180, 0.4);
  outline: 1px solid rgba(220,220,220, 0.6);
  box-shadow: 6px 6px 6px rgb(0 0 0 / 35%);
  /* GPU intensive effect not recommended in Mobile */
  backdrop-filter: blur(1.6px);
  border-radius: 12px;

  h1, p, ul, li {
    text-align: center;
  }

  h1 {
    margin-bottom: 20px;
    text-shadow: 1.1px 1.1px gray;
  }

  ul {
    margin-block: 20px;
  }
}
</style>
